@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #2E6CA4;
  --secondary-color: #E3BD61;
  --accent1-color: #A42212;
  --accent2-color: #381D2A;

  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  --headline-color-on-white: #E3BD61;  
  --headline-color-on-color: #2E6CA4; 
  --paragraph-color-on-white: #E3BD61;
  --paragraph-color-on-color: #ffffff; 
  --paragraph-background-color: #000000  ;
  --nav-link-color: #E3BD61;
  --nav-background-color: #000000;
  --nav-hover-link-color: White;
  --nav-hover-background-color: #2E6CA4;
}


body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
.logo
{
  border-radius: 30px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
footer {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: black;
  padding: 25px 50px; margin-top: 0;  
  display: grid; 
  grid-template-columns: 1fr 8fr 1fr ;
  justify-content: space-around; 
  align-items: center;    
}
footer img { 
  width: 25px;  
}
.socials img{
  margin: 8px;
}
.gamebox{
  border: solid #2E6CA4 5px;
  display: grid;
  grid-column: 1fr;
  border-radius: 2px;
}
.fireside{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.yellow
{
  border: solid #E3BD61 5px;
  display: grid;
  grid-column: 1fr;
  border-radius: 2px;
}
.green
{
  border: solid #73A43F 5px;
  display: grid;
  grid-column: 1fr;
  border-radius: 2px;
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-background-color);
  padding: 1em;
}

.home-click,.game-grid{
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: black;
  border: 12px;
}
.game-grid p{
  color: #E3BD61;
  align-items: center;
  display: grid;
  grid-column: 9fr;
  justify-content: center;
}
.home-click p{
  color: #2E6CA4;
  align-items: center;
  display: grid;
  grid-column: 9fr;
  justify-content: center;
}
.business{
  margin: auto;
  background: #381D2A;
  border: 2em;
  padding: 10px;
  margin: 10px
}
.business p{
  color: #A42212;
}
.business img{
  margin: auto;
  display: grid;
  grid-column: 7/10;
}
.empty-space{
  padding: 2em; 
}
.game-grid:hover{

  transform: scale(1.01);
}
#information { 
  font-size: 1em;   
  color: rgb(255, 255, 255);
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #2E6CA4;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: #2E6CA4;
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
  color: white; 
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
.join{
  background-color: #A42212;  
  color: #381D2A;
  text-decoration: none; 
  padding: 15px;  
  box-shadow: 2px 6px 12px #000000;  
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
